header {
    height: 60px;
    display: flex;
    background-image: linear-gradient(to right, rgb(70,90,184),rgb(38,19,96));
    padding: 5px 25% 5px 5px;
    margin: 10px;
    color: white;
    flex-direction: row;
    justify-content: flex-end;
    font-size: larger;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    background-color: rgb(50,61,79);
    color: white;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 0rem;
    width: 115px;;
}
h3 {
    font-weight: bold;
    
}
.card-img-top {
    width: 20px;
    height: 20px;
}

#area1{
background-color: aqua;
height: 150px;

}

#area2{
    background-color:blueviolet;
    height: 50px;
}
#area3{
    background-color:brown;
    height: 150px;
    border:2px solid grey;
    border-radius: 2px;
}
#area4{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

main div{
    width: 100%;
}